.mainContainer {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100%;
}

.cardsContainer {
    background: white;
    width: 100%;
    height: calc(100vh - 108px);
    /* max-width: 1200px; */
    max-height: 100%;
    overflow: scroll;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 2px;
    gap: 2px;
}

.searchContainer {
    margin-top: 4px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.searchContainer__input {
    width: 90%;
    max-width: 300px;
    padding: .25rem 1rem;
    border: 1px solid rgb(210, 210, 210);
    border-radius: .5rem;
}

.cardsContainer__noData {
    width: 100%;
    margin: 5rem 0;
    text-align: center;
}

.labelContainer {
    min-width: 600px;
    display: flex;
    justify-content: flex-start;
    gap: .5rem;
    padding: 6px;
}

.labelContainer__label {
    color: rgb(161 161 170);
    font-size: 12px;
    font-weight: 500;
}

.cardsContainer__card {
    width: 100%;
    min-width: 600px;
    padding: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    background: rgb(230, 230, 230);
    border-radius: .5rem;
    word-wrap: break-word;
    border: 1px solid rgb(220, 220, 220);

    transition: all .2s;
}


.cardsContainer__card:hover {
    background-color: rgb(220, 220, 220);
}

.cardsContainer__text {
    font-size: 14px;
}

@media (min-width: 1024px) {
    .mainContainer {
        min-height: 100vh;
    }

    .cardsContainer {
        background: transparent;
    }

    .labelContainer__label {
        font-weight: bold;
        color: white;
    }

    .cardsContainer {
        border-radius: .5rem;
        padding: 1rem;
        gap: .25rem;
        overflow: auto;
    }

    .cardsContainer__card {
        background: white;
        padding: .5rem;
    }
}