.sidebar {
    width: 100%;
    padding: 1rem;

    background: rgb(37 99 235);

    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;

    color: white;
}

.profileContainer {
    display: none;
}

.profileContainer__img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
}

.profileContainer__noImg {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
}

.profileContainer__userName {
    font-size: 1.2rem;
    font-weight: bold;
}

.navContainer__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navContainer__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: .5rem;
}

.navContainer__label {
    display: none;
}

@media (min-width: 1024px) {
    .sidebar {
        position: static;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 300px;
        background: white;
        height: 100vh;
    }

    .profileContainer {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .navContainer__list {
        align-items: start;
        flex-direction: column;
        gap: .5rem;
    }

    .navContainer__listItem {
        width: 100%;
    }

    .navContainer__btn {
        width: 100%;
        padding: .5rem 1rem;
        justify-content: flex-start;
        gap: 1rem;
        background: rgb(37 99 235);
        color: white;
        border-radius: .5rem;
    }

    .navContainer__btn:hover {
        background: rgb(69, 128, 255);
    }


    .navContainer__label {
        font-weight: 500;
        display: inline;
    }
}